<h1>Login with your Username</h1>
<form action=" <%= new_user_url %>" method="get">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input type="submit" value="New User?">
</form>
<br>
<form action="<%= session_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  Username:
  <input type="text" name="user[user_name]">
  <br>
  <br>
  Password:
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Submit!">
</form>
