<h1>New User</h1>

<form action="<%= users_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  Username:
  <input type="text" name="user[user_name]">
  <br>
  <br>
  Password:
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Submit!">
</form>
