<!DOCTYPE html>
<html>

<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <h4>Welcome, <%=current_user.user_name%>! Have a cat!</h4>
    <form action=" <%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log Out">
    </form>
  <% else %>
    <form action=" <%= new_session_url %>" method="get">
      <input type="submit" value="Log In">
    </form>
  <% end %>
  <%# debugger %>
</head>
<body>
<%= yield %>

</body>
</html>
